RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]


#sayfalar arası gezinebiliyor ama css ler gelmiyo
#RewriteEngine on
#RewriteCond $1 !^(index\.php|betik|js|images|robots\.txt)
#RewriteRule ^(.*)$ /index.php?/$1 [L]